body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #00073f; 
}

.Card-bg {
    background-color: #74acff; 
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.Card-bg:hover {
    background-color: #cfe5ff; 
}